<%= render 'shared/errors', obj: @user %>

    <div class="row">
        <div class="col-12">
            <%= form_for(@user, :html => {class: "form", role: "form"}) do |f| %>
                <div class="form-group">
                    <%= f.label :username, class: "label-title" %>
                    <%= f.text_field :username, class: "form-control"%>
                </div>
                <div class="form-group">
                    <%= f.label :email, class: "label-title" %>
                    <%= f.email_field :email, class: "form-control" %>
                </div>
                <div class="form-group">
                    <%= f.label :password, class: "label-title" %>
                    <%= f.password_field :password, class: "form-control" %>
                </div>
                <div class="form-group">
                    <%= f.submit(@user.new_record? ? "Sign Up" : "Update", class: "btn btn-primary mb-2") %>
                </div>
            <% end %>

            [ <%= link_to 'Cancel request and go back to article listing', articles_path, class: "go_back_link" %> ]
        </div>
    </div>